@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900;
    @apply text-white
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  margin: 2rem 0 2rem 0;
}
/* About */
.about__text {
  text-justify: inter-word;
}

/* Form */
.text {
  width: 68%;
}

.chart {
  padding: 0.5rem;
}
.white-innertext-label  {
  color: white !important;
}
/* Responsiveness */
@media screen and (max-width: 700px) {
  body {
    font-size: 16px;
  }
  /* About */
  #about {
    padding: 16px 20px 16px 20px ;
    /* font-size: 16px; */
  }
  /* Socials */
  .icon {
    font-size: 0.6em;
    margin: 8px 16px 0 4px !important;
  }
  #socials {
    padding: 6px 28px 6px 0px;
  }
  .social__header {
    font-size: 16px;
  }
  /* Tokenomics */
  .chart {
    width: 100%;
  }

  .about__text {
  text-justify: inter-word;
  }
  
}
